// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-card {
  background-color: rgb(242, 242, 242);
}

.custom-icon {
  width: auto;
  height: 20px;
}